* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    
  }

  .foglalasHelyekEllenorzes{
    width: 95.2%;
    border: 1px solid;
    grid-area: fh;
    height: fit-content;
    padding: 20px;
  }

  .foglalasUrlapEllenorzes{
    grid-area: fu;
    padding-left: 10%;
    position: relative;
    justify-content: start;
    align-items: start;
  }
  
 .FoglalasEllenorzesArticle{
    padding: 15px;
    width: 100%;
    display: grid;
    grid-template-areas: 'h2 h2'
                        'fh fu';
 }
  
  p {
    padding: 0;
    margin: 0;
  }
  
  input, label, select {
    display: block;
    margin-bottom: 5px;
}
  
  
  li{
    color: green;
    list-style: circle;
  }

  ul{
    padding-left: 5%;
  }

  h2{
    grid-area: h2;
  }

  label{
    padding-bottom: 5px;
    width: fit-content;
  }

  input, select{
    color: black;
    background-color: white;
    border: 1px solid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 500px;
    padding: 10px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(100%) hue-rotate(90deg);
  }
  
  .form-group, form{
    width: fit-content;
  }

  button{
    margin-left: 0;
    border-radius: 0;
  }

  button.btn-outline-danger{
    margin-left: 15px;
  }
  
  @media screen and (max-width: 1200px) {
    .motorHely{
      width: 75px;
    }
    .foglalasUrlapEllenorzes{
      padding: 0;
    }

    .FoglalasEllenorzesArticle{
      width: 100%;
      display: grid;
      grid-template-areas: 'h2 h2'
                          'fh fh'
                          'fu fu';
   }



   
  }
  @media screen and (max-width: 992px) {
    .FoglalasEllenorzesArticle{
      width: 100%;
      display: grid;
      grid-template-areas: 'h2 h2'
                          'fh fh'
                          'fu fu';
   }

   .foglalasUrlap{
    padding: 5px;
  }

  .motorHely{
    width: 63px;
  }

  .hagyományosHely{
    width: 75px;
  }
  .mozgássérültHely{
    width: 130px;
  }
  .elektromosHely{
    width: 76px;
  }
 

  }
  @media screen and (max-width: 768px) {
    .motorHely{
      width: 63px;
    }

    .hagyományosHely{
      width: 75px;
    }
    .mozgássérültHely{
      width: 130px;
    }
    .elektromosHely{
      width: 76px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .motorHely{
      width: 63px;
    }

    .hagyományosHely{
      width: 75px;
    }
    .mozgássérültHely{
      width: 130px;
    }
    .elektromosHely{
      width: 76px;
    }

    .foglalasHelyek p{
      font-size: 18px;
    }

    .foglalasArticle{
      padding: 5px;
    }
  
  }
  @media screen and (max-width: 420px) {
    .motorHely{
      width: 45px;
    }

    .hagyományosHely{
      width: 50px;
    }
    .mozgássérültHely{
      width: 95px;
    }
    .elektromosHely{
      width: 55px;
    }

    .foglalasHelyek p{
      font-size: 15px;
    }

    .foglalasHelyek {
      width: 100%;
    }

    .foglalasBorder{
      width: 100%;
    }

    .foglalasArticle{
      width: 100%;
    }

    .foglalasArticle{
      width: 100%;
      display: grid;
      grid-template-areas: 'h2 '
                          'fh'
                          'fu';
   }

   .foglalasUrlap{
    width: 100%;
   }
   .foglalasUrlap form, .foglalasUrlap .form-group, .foglalasUrlap label{
    width: 100%;
   }

   input, select{
    width: 100%;
   }
  
  }
  