* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Anta", sans-serif;
    
  }

  .foglalasHelyek{
    width: 90%;
    border: 1px solid;
    grid-area: fh;
    height: 95%;
    padding: 20px;
  }

  .motor{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    color: transparent;
  }
  .hagyományos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: transparent;
  }
  .mozgássérült{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color: transparent;
  }
  .elektromos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: transparent;
  }

  .foglalasBorder{
    border: 1px solid black;
    padding: 10px;
  }

  .motorHely{
    width: 90px;
    height: 40px;
    border: 1px solid black;
    
  }
  .hagyományosHely{
    width: 90px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
  }
  .mozgássérültHely{
    width: 150px;
    height: 40px;
    border: 1px solid black;
  }
  .elektromosHely{
    width: 90px;
    height: 40px;
    border: 1px solid black;
  }

  .foglalasHelyek{
    border: 1px solid black;
  }

  .foglalasUrlap{
    grid-area: fu;
    padding-left: 10%;
    position: relative;
    justify-content: start;
    align-items: start;
  }

  .piros{
    color: red;
    -webkit-text-stroke: 0.5px black;
    font-size: 22px;
  }

  .sarga{
    color: yellow;
    -webkit-text-stroke: 0.5px black;
    font-size: 22px;
  }

  .szurke{
    color: grey;
    -webkit-text-stroke: 0.5px black;
    font-size: 22px;
  }

  .zold{
    color: green;
    -webkit-text-stroke: 0.5px black;
    font-size: 22px;
  }
  .fekete{
    color: black;
    -webkit-text-stroke: 0.5px black;
    font-size: 22px;
  }
  
  .foglalasArticle{
    width: 100%;
    display: grid;
    grid-template-areas: 'h2 h2'
                        'fh fu';
 }
  
  p {
    padding: 0;
    margin: 0;
  }
  
  input, label, select {
    display: block;
    margin-bottom: 5px;
}
  
  
  li{
    color: green;
    list-style: circle;
  }

  ul{
    padding-left: 5%;
  }

  h2{
    grid-area: h2;
    padding: 0;
  }

  label{
    padding-bottom: 5px;
    width: fit-content;
  }

  input, select{
    color: black;
    background-color: white;
    border: 1px solid;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 500px;
    padding: 10px;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) sepia(100%) hue-rotate(90deg);
  }
  
  .form-group, form{
    width: fit-content;
  }

  button{
    margin-left: 0;
    border-radius: 0;
  }

  button.btn-outline-danger{
    margin-left: 15px;
  }

  @media screen and (max-width: 1400px) {
    .motorHely{
      width: 75px;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .motorHely{
      width: 120px;
    }

    .hagyományosHely{
      width: 140px;
    }
    .mozgássérültHely{
      width: 240px;
    }
    .elektromosHely{
      width: 140px;
    }

    .foglalasUrlap{
      padding: 0;
    }
  }
  @media screen and (max-width: 992px) {
    .foglalasArticle{
      width: 100%;
      display: grid;
      grid-template-areas: 'h2 h2'
                          'fh fh'
                          'fu fu';
   }

   .foglalasUrlap{
    padding: 5px;
  }
  .motorHely{
    width: 95px;
  }

  .hagyományosHely{
    width: 120px;
  }
  .mozgássérültHely{
    width: 200px;
  }
  .elektromosHely{
    width: 120px;
  }

  }
  @media screen and (max-width: 768px) {
    .motorHely{
      width: 63px;
    }

    .hagyományosHely{
      width: 75px;
    }
    .mozgássérültHely{
      width: 130px;
    }
    .elektromosHely{
      width: 76px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .motorHely{
      width: 50px;
    }

    .hagyományosHely{
      width: 60px;
    }
    .mozgássérültHely{
      width: 100px;
    }
    .elektromosHely{
      width: 60px;
    }

    .foglalasHelyek p{
      font-size: 15px;
    }

    .foglalasArticle{
      padding: 5px;
    }

    
     .foglalasUrlap form, .foglalasUrlap .form-group, .foglalasUrlap label{
      width: 100%;
     }
  
     input, select{
      width: 100%;
     }
  
  }
  @media screen and (max-width: 430px) {
    .motorHely{
      width: 40px;
    }

    .hagyományosHely{
      width: 50px;
    }
    .mozgássérültHely{
      width: 85px;
    }
    .elektromosHely{
      width: 50px;
    }

    .foglalasHelyek p{
      font-size: 15px;
    }

    .foglalasHelyek {
      width: 100%;
    }

    .foglalasBorder{
      width: 100%;
    }

    .foglalasArticle{
      width: 100%;
    }

    .foglalasArticle{
      width: 100%;
      display: grid;
      grid-template-areas: 'h2 '
                          'fh'
                          'fu';
   }

   .foglalasUrlap{
    width: 100%;
   }
   .foglalasUrlap form, .foglalasUrlap .form-group, .foglalasUrlap label{
    width: 100%;
   }

   input, select{
    width: 100%;
   }
  
  }
  