
.radio{
    color: black;
    background-color: white;
    border: 1px solid;
    box-shadow: none;
    width: 50px;
    margin-bottom: 0px;
    display: inline;
  
  }

 .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: inline;
  }